-extends "base.haml"

-block content
  -if video_list
    %h3 Vidéos non classées
      .row
        -for video in video_list
          .col-md-3
            .thumbnail
              %img{src: "http://placekitten.com/420/270", alt: "video.title"}
              .caption
                %h4= video.title
                %p
                  %i= video.observations|default:""

                %a.btn.btn-primary{href: "{% url 'administration_video_detail' video.id %}"}
                  Regarder

  -for subsection in subsection_list
    %h3= subsection.title
    -for subsubsection in subsection.subsubsection_set.all
      -if subsubsection.videosection_set.all.exists
        %h4= subsubsection.title
        .row
          -for videosection in subsubsection.videosection_set.all
            .col-md-3
              .thumbnail
                %img{src: "http://placekitten.com/420/270", alt: "videosection.video.title"}
                .caption
                  %h4= videosection.video.title
                  %p
                    %i= video.observations

                  %a.btn.btn-primary{href: "{% url 'administration_video_detail' videosection.video.id %}"}
                    Regarder
